option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:/var/app/current/src:$PYTHONPATH"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_set_pythonpath.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      export PYTHONPATH="/var/app/current:/var/app/current/src:$PYTHONPATH"